Note: *ESC + a* to create cell above and b for below

# SECTION 1

```python
# Print the last item from year and pop
print(year[-1])
print(pop[-1])


import matplotlib.pyplot as plt


# Make a line plot: year on the x-axis, pop on the y-axis
plt.plot(year, pop)

# Display the plot with plt.show()
plt.show() 
```

In [1]:
import pandas as pd

In [3]:
ls ../

python/      titanic.csv

In [4]:
data = pd.read_csv('../titanic.csv')

In [6]:
data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [ ]:
data.head()

 * LOOPS

In [ ]:
offset = 8
while 0 != offset :
    print("correcting...")
    offset = offset -1
    print(offset)
# Code the while loop

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for item in areas :
    print(item)

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate()
for index, a in enumerate(areas) :
    print("index "+str(index)+":"+str(a))

In [ ]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x in house:
    print("the " + str(x[0]) + " is " + str(x[1]) + " sqm")